# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/

# Internal Knowledge & Localized Documentation (Do not push to public)
*_ZH.md
*_zh.md
01-BUIDL_CTC*
